<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tesseract</title>
</head>

<body>
    <div class="wrapper" ng-cloak>
        <div ng-controller="AppController as $ctrl">
            <mc-dates date-from="$ctrl.date1" date-to="$ctrl.date2" mc-change="$ctrl.changeDates()"></mc-dates>
            <md-input-container>
                <label>Дата 1</label>
                <input ng-model="$ctrl.date1">
            </md-input-container>
            <md-input-container>
                <label>Дата 2</label>
                <input ng-model="$ctrl.date2">
            </md-input-container>
        </div>
    </div>
    
</body>

</html>